# ------------------------------------
# BACKEND (Django)
# ------------------------------------
venv/                 # Entorno virtual
*.pyc
__pycache__/
*.sqlite3             # Base de datos local
/media/               # Archivos subidos (fotos de propiedades)
.env                  # Variables de entorno/secretos

# ------------------------------------
# FRONTEND (React/Vite)
# ------------------------------------
/frontend/node_modules # Dependencias de Node
/frontend/dist         # Archivos de build listos para producción
/frontend/package-lock.json
/frontend/yarn.lock